<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';

import {
  deviceMethods,
  notificationMethods,
  organizationMethods,
} from '@/state/helpers';
import { required } from 'vuelidate/lib/validators';
import Multiselect from 'vue-multiselect';
/**
 * Starter page component
 */
export default {
  page: {
    title: 'Devices',
    meta: [{ name: 'description' }],
  },
  components: { Layout, PageHeader, Multiselect },
  data() {
    return {
      title: 'Device Management',
      items: [
        {
          text: 'Master Data',
        },
        {
          text: 'Device Management',
          active: true,
        },
      ],
      selectedDeviceId: null,
      form: {
        device_name: '',
        prefix: '',
        detail: '',
        owner: null,
      },
      submitted: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: 'id',
      sortDesc: false,
      fields: [
        { key: 'no', label: 'No.', sortable: true },
        { key: 'device_name', sortable: true },
        { key: 'prefix', sortable: true },
        { key: 'detail', sortable: true },
        { key: 'owner', sortable: true },
        { key: 'level', sortable: true },
        { key: 'aksi' },
      ],
    };
  },
  validations: {
    form: {
      device_name: { required },
      prefix: { required },
      detail: { required },
      owner: { required },
    },
  },
  computed: {
    devices() {
      return this.$store ? this.$store.state.device.device?.data : [];
    },
    totalAlerts() {
      return this.$store ? this.$store.state.device.device?.total : 0;
    },
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
    isLoading() {
      return this.$store ? this.$store.state.device.isLoading : null;
    },
    organizations() {
      return this.$store ? this.$store.state.organization.options?.data : [];
    },
    rows() {
      return this.devices ? this.devices.length : 0;
    },
  },
  methods: {
    ...deviceMethods,
    ...notificationMethods,
    ...organizationMethods,
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    assignDevice(e) {
      this.selectedDeviceId = e.id;
      this.form.device_name = e.device_name;
      this.form.prefix = e.prefix;
      this.form.detail = e.detail;
      this.form.owner = e.owner;
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.state.device_name = valid;
      this.state.prefix = valid;
      this.state.detail = valid;
      this.state.owner = valid;
      return valid;
    },
    resetModal() {
      this.form.device_name = '';
      this.form.prefix = '';
      this.form.detail = '';
      this.form.owner = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.addDevice(this.form);
        this.$nextTick(() => {
          this.$bvModal.hide('modal-add-device');
        });
      }
    },
    deleteDevice() {
      this.deleteDeviceById(this.selectedDeviceId);

      this.$nextTick(() => {
        this.$bvModal.hide('modal-delete-device');
      });
    },
    updateDevice(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleUpdate();
    },
    handleUpdate() {
      let data = {
        id: this.selectedDeviceId,
        ...this.form,
      };
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.updateDeviceById(data);

        this.$nextTick(() => {
          this.$bvModal.hide('modal-update-device');
        });
      }
    },
  },
  mounted() {
    this.getAllDevice();
    this.getOrganiztionOptions();
    this.totalRows = this.items.length;
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Devices</h4>
            <b-alert
              :variant="notification.type"
              class="mt-3"
              v-if="notification.message"
              show
              dismissible
              >{{ notification.message }}</b-alert
            >
            <b-button v-b-modal.modal-add-device variant="success mt-4">
              <i class="ri-add-line align-middle mr-2"></i> Tambah Perangkat
            </b-button>
            <b-modal
              id="modal-add-device"
              ref="modal"
              title="Add Device"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
            >
              <form ref="form" @submit.stop.prevent="handleSubmit">
                <div class="form-group">
                  <label for="deviceNameValidation">Device Name</label>
                  <input
                    id="deviceNameValidation"
                    v-model="form.device_name"
                    type="text"
                    class="form-control"
                    placeholder="Device Name"
                    :class="{
                      'is-invalid': submitted && $v.form.device_name.$error,
                    }"
                  />
                  <div
                    v-if="submitted && $v.form.device_name.$error"
                    class="invalid-feedback"
                  >
                    <span v-if="!$v.form.device_name.required"
                      >This value is required.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="prefixValidation">Prefix</label>
                  <input
                    id="prefixValidation"
                    v-model="form.prefix"
                    type="text"
                    class="form-control"
                    placeholder="Prefix"
                    :class="{
                      'is-invalid': submitted && $v.form.prefix.$error,
                    }"
                  />
                  <div
                    v-if="submitted && $v.form.prefix.$error"
                    class="invalid-feedback"
                  >
                    <span v-if="!$v.form.prefix.required"
                      >This value is required.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="detailValidation">Detail</label>
                  <input
                    id="detailValidation"
                    v-model="form.detail"
                    type="text"
                    class="form-control"
                    placeholder="Detail"
                    :class="{
                      'is-invalid': submitted && $v.form.detail.$error,
                    }"
                  />
                  <div
                    v-if="submitted && $v.form.detail.$error"
                    class="invalid-feedback"
                  >
                    <span v-if="!$v.form.detail.required"
                      >This value is required.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="organisasiInput">Owner</label>

                  <multiselect
                    id="organisasiInput"
                    v-model="form.owner"
                    :options="organizations && organizations.map((e) => e.id)"
                    :class="{
                      'is-invalid': submitted && $v.form.owner.$error,
                    }"
                    :custom-label="
                      (opt) => organizations.find((x) => x.id == opt).name
                    "
                  ></multiselect>
                  <div
                    v-if="submitted && $v.form.owner.$error"
                    class="invalid-feedback"
                  >
                    <span v-if="!$v.form.owner.required"
                      >This value is required.</span
                    >
                  </div>
                </div>
              </form>
            </b-modal>
            <div class="row mt-4">
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_length" class="dataTables_length">
                  <label class="d-inline-flex align-items-center">
                    Filter&nbsp;
                    <b-form-select
                      v-model="perPage"
                      size="sm"
                      :options="pageOptions"
                    ></b-form-select
                    >&nbsp;entries
                  </label>
                </div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div
                  id="tickets-table_filter"
                  class="dataTables_filter text-md-right"
                >
                  <label class="d-inline-flex align-items-center">
                    Search:
                    <b-form-input
                      v-model="filter"
                      type="search"
                      placeholder="Search..."
                      class="form-control form-control-sm ml-2"
                    ></b-form-input>
                  </label>
                </div>
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                :items="devices"
                :fields="fields"
                responsive="sm"
                :per-page="perPage"
                :current-page="currentPage"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
                :busy="!devices ? true : false || isLoading"
              >
                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong class="ml-3">Loading...</strong>
                  </div>
                </template>
                <template #cell(no)="data">
                  {{ data.index + 1 }}
                </template>
                <template #cell(owner)="data">
                  {{ data.item.organization.name }}
                </template>
                <template #cell(level)="data">
                  Level {{ data.item.organization.level }}
                </template>
                <template #cell(aksi)="data">
                  <b-button
                    variant="primary"
                    v-b-modal.modal-update-device
                    @click="assignDevice(data.item)"
                  >
                    <i class="ri-pencil-fill align-middle"></i>
                  </b-button>
                  <b-button
                    v-b-modal.modal-delete-device
                    variant="danger ml-2"
                    @click="assignDevice(data.item)"
                  >
                    <i class="ri-delete-bin-fill align-middle"></i>
                  </b-button>
                </template>
              </b-table>
              <b-modal
                id="modal-update-device"
                ref="modal"
                title="Ubah Perangkat"
                @ok="updateDevice"
                size="xl"
              >
                <form ref="form" @submit.prevent="handleUpdate">
                  <div class="form-group">
                    <label for="deviceNameValidation">Device Name</label>
                    <input
                      id="deviceNameValidation"
                      v-model="form.device_name"
                      type="text"
                      class="form-control"
                      placeholder="Device Name"
                      :class="{
                        'is-invalid': submitted && $v.form.device_name.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.device_name.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.device_name.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="prefixValidation">Prefix</label>
                    <input
                      id="prefixValidation"
                      v-model="form.prefix"
                      type="text"
                      class="form-control"
                      placeholder="Prefix"
                      :class="{
                        'is-invalid': submitted && $v.form.prefix.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.prefix.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.prefix.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="detailValidation">Detail</label>
                    <input
                      id="detailValidation"
                      v-model="form.detail"
                      type="text"
                      class="form-control"
                      placeholder="Detail"
                      :class="{
                        'is-invalid': submitted && $v.form.detail.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.detail.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.detail.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="organisasiInput">Owner</label>

                    <multiselect
                      id="organisasiInput"
                      v-model="form.owner"
                      :options="organizations && organizations.map((e) => e.id)"
                      :class="{
                        'is-invalid': submitted && $v.form.owner.$error,
                      }"
                      :custom-label="
                        (opt) => organizations.find((x) => x.id == opt).name
                      "
                    ></multiselect>
                    <div
                      v-if="submitted && $v.form.owner.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.owner.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                </form>
              </b-modal>
              <!-- DELETE MODAL -->
              <b-modal
                id="modal-delete-device"
                title="Apa kamu yakin ingin menghapus perangkat ini?"
              >
                <p class="my-4">
                  Perangkat yang telah terhapus tidak akan bisa dikembalikan
                  lagi
                </p>
                <template #modal-footer="{ cancel }">
                  <b-button variant="secondary" @click="cancel()">
                    Batalkan
                  </b-button>
                  <b-button variant="danger" @click="deleteDevice()">
                    Ya, hapus perangkat ini!
                  </b-button>
                </template>
              </b-modal>
              <!-- END OF DELETE MODAL -->
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="dataTables_paginate paging_simple_numbers float-right"
                >
                  <ul class="pagination pagination-rounded mb-0">
                    <!-- pagination -->
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                    ></b-pagination>
                  </ul>
                </div>
              </div>
            </div>
            <b-button pill size="sm" variant="light"
              >Total Alert: {{ totalAlerts }}</b-button
            >
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
