<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row mb-4">
      <div class="col-md-4 col-xs-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title mb-4">Alert Tiket Lambat Per Witel</h4>
              </div>
              <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
            </div>
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                hover
                :fields="fields"
                :items="listData"
              >
                <template #cell(no)="data">
                  {{data.index+1}}
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from '../../../layouts/main';
import PageHeader from '@/components/page-header';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import moment from 'moment';

export default {
  components:{
    Layout,
    PageHeader
  },
  data(){
    return {
      witel:null,
      startDate:null,
      listData:[],
      title:"All HSI High Ticket",
      items: [
          {
            text: 'Home',
          },
          {
            text: 'Dashboard',
          },
          {
            text: 'HSI Active Ticket',
          },
          {
            text:"",
            active: true,
          }
        ],
        fields: [
            {
                key:"no"
            },
        {
          key: 'regional',
          sortable: true,
        },
        {
          key: 'witel',
          sortable: true,
        },
        {
          key: 'workzone',
          label:"STO",
          sortable: true,
        },
        {
          key: 'jumlah',
          sortable: true,
        },
      ],
    }
  },
  methods:{
    moment: function () {
      return moment();
    },
    fetchData(){
      const query = this.$route.query
      axios.get(`${BASE_URL}/dashboard/active-hsi-detail`,{
          params:{
              "witel":query.witel
          },
        headers: {
          ...authHeader(),
        },
      }).then((resp)=>{
        this.listData = resp.data.data
      })
    }
  },
  mounted(){
    const query = this.$route.query
    this.items[this.items.length-1] = "Data HSI "+query.witel
    this.witel  = query.witel
    this.startDate = query.startDate
    this.fetchData()
  }
}
</script>