<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row mb-4">
      <div class="col-md-4 col-xs-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title mb-4">Alert Tiket Lambat Per Witel</h4>
              </div>
              <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
            </div>
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                hover
                :fields="fields"
                :items="listData"
              >
                <template #cell(witel)="data">
                  <router-link
                    :to="{
                      path: '/detail-active-hsi',
                      query: {
                        startDate: moment().subtract(7, 'days').format('MM-DD-YYYY'),
                        witel: data.item.Witel,
                      },
                    }"
                    >{{ data.item.Witel }}</router-link
                  >
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from '../../../layouts/main';
import PageHeader from '@/components/page-header';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import moment from 'moment';

export default {
  components:{
    Layout,
    PageHeader
  },
  data(){
    return {
      listData:[],
      title:"All HSI High Ticket",
      items: [
          {
            text: 'Home',
          },
          {
            text: 'Dashboard',
          },
          {
            text: 'HSI Active Ticket',
            active: true,
          },
        ],
        fields: [
        {
          key: 'Witel',
          sortable: true,
        },
        {
          key: 'jumlah',
          sortable: true,
        },
      ],
    }
  },
  methods:{
    moment: function () {
      return moment();
    },
    fetchData(){
      axios.get(`${BASE_URL}/dashboard/active-hsi-all`,{
        headers: {
          ...authHeader(),
        },
      }).then((resp)=>{
        this.listData = resp.data
      })
    }
  },
  mounted(){
    this.fetchData()
  }
}
</script>