<script>
import Layout from '../../../layouts/main';
import PageHeader from '@/components/page-header';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
/**
 * Starter page component
 */
export default {
  page: {
    title: 'Detail Alert - Radio Transport',
    meta: [{ name: 'description' }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: 'Detail Alert - Radio',
      items: [
        {
          text: 'Dashboard',
          href: '/',
        },
        {
          text: 'Detail Alert - GPON',
          active: true,
        },
      ],
      search: '',
      tableData: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: 'age',
      sortDesc: false,
      fields: [
        { key: 'no', label: 'No.' },
        { key: 'node' },
        { key: 'cek_ping' },
        { key: 'ping_detail' },
        { key: 'nbr', label: 'Neighbour' },
        { key: 'regional', label: 'Area' },
        { key: 'alert_time' },
        { key: 'status' },
        { key: 'keterangan' },
      ],
      areaOptions: [
        { value: 'Area', text: 'Area' },
        'REG1',
        'REG2',
        'REG3',
        'REG4',
        'REG5',
        'REG6',
        'REG7',
      ],
      statusOptions: [
        { value: 'Status', text: 'Status' },
        'NEW',
        'Acknowledge',
        'Set Dismantle',
        'Set Exclude',
        'Closed',
      ],
      status: 'Status',
      area: 'Area',
    };
  },
  watch: {
    currentPage(val) {
      let data = { ...this.handleParams, page: val };
      this.fetchData(data);
    },
    perPage(val) {
      let data = { ...this.handleParams, perpage: val };
      // console.log(data);
      this.fetchData(data);
    },
    search(val) {
      if (val === '') {
        this.fetchData(this.handleParams);
      }
    },
    area() {
      this.fetchData(this.handleParams);
    },
    status() {
      this.fetchData(this.handleParams);
    },
  },
  computed: {
    /**
     * Total no. of records
     */
    rows() {
      return this.tableData.length;
    },
    handleParams() {
      let data = {};
      Object.assign(data, { page: this.currentPage });
      Object.assign(data, { perpage: this.perPage });
      if (this.area !== 'Area') {
        Object.assign(data, { regional: this.area });
      }
      if (this.search !== '') {
        Object.assign(data, { search: this.search });
      }
      if (this.status !== 'Status') {
        Object.assign(data, { status: this.status });
      }
      return data;
    },
  },
  mounted() {
    this.area = this.$route.query.reg ? this.$route.query.reg : 'Area';
    // Set the initial number of items
    this.fetchData();
  },
  methods: {
    /**
     * Search the table data with search input
     */
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    badgeVariant(val) {
      if (val === 'NEW') {
        return 'danger';
      } else if (val === 'Acknowledge') {
        return 'info';
      } else if (val === 'Exclude Request') {
        return 'outline-primary';
      } else if (val === 'Dismantle Request') {
        return 'outline-warning';
      } else if (val === 'Valid') {
        return 'warning';
      } else if (val === 'Closed') {
        return 'outline-secondary';
      }
    },
    handleSearch() {
      this.fetchData(this.handleParams);
    },
    fetchData() {
      let url = new URL(`${BASE_URL}/detail/radio`),
        params = this.handleParams;
      if (params != null)
        Object.keys(params).forEach((key) =>
          url.searchParams.append(key, params[key]),
        );
      axios
        .get(url, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.tableData = resp.data.data;
          this.totalRows = resp.data.total;
        })
        .catch((e) => {
          console.log('Backbone Err : ', e);
        });
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_length" class="dataTables_length">
                  <label class="d-inline-flex align-items-center">
                    Filter&nbsp;
                    <b-form-select
                      v-model="perPage"
                      size="sm"
                      :options="pageOptions"
                    ></b-form-select>
                  </label>
                  <!-- <label class="d-inline-flex align-items-center">
                    <b-form-select
                      v-model="witel"
                      size="sm"
                      :options="witelOptions"
                    ></b-form-select>
                  </label> -->
                  <label class="d-inline-flex align-items-center">
                    <b-form-select
                      v-model="area"
                      size="sm"
                      :options="areaOptions"
                    ></b-form-select>
                  </label>
                  <label class="d-inline-flex align-items-center">
                    <b-form-select
                      v-model="status"
                      size="sm"
                      :options="statusOptions"
                    ></b-form-select
                  ></label>
                  <!-- <div class="d-inline-flex align-items-center">
                    <date-picker
                      v-model="tanggal"
                      type="date"
                      placeholder="Select date"
                    ></date-picker>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- Search -->
            <div id="tickets-table_filter" class="dataTables_filter my-3">
              <div class="row">
                <div class="col-12 col-md-3">
                  <label class="d-inline-flex align-items-center mr-2">
                    <b-form-input
                      v-model="search"
                      type="search"
                      placeholder="Search..."
                      class="form-control ml-2"
                    ></b-form-input>
                  </label>
                  <b-button @click="handleSearch">Cari</b-button>
                </div>
              </div>
              <!-- <b-button variant="light" size="sm">
                <i class="far fa-calendar align-middle mr-2"></i>
                Date
              </b-button> -->
            </div>
            <!-- Table -->
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                :items="tableData"
                :fields="fields"
                responsive="sm"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
              >
                <template #cell(no)="data">
                  {{ data.index + (perPage * currentPage - perPage) + 1 }}
                </template>
                <template #cell(status)="data">
                  <b-button
                    pill
                    size="sm"
                    :variant="badgeVariant(data.item.status)"
                    class="mr-1"
                    >{{ data.item.status }}</b-button
                  >
                </template>
                <template #cell(ping_detail)="data">
                  <div style="white-space: break-spaces">
                    {{ data.item.ping_detail }}
                  </div>
                </template>
                <template #cell(alert_time)="data">
                  {{ new Date(data.item.alert_time).toLocaleString() }}
                </template>
                <template #cell(keterangan)="data">
                  <ul>
                    <li v-if="data.item.tiket_nossa">
                      No. Tiket:
                      <span class="text-danger">{{
                        data.item.tiket_nossa
                      }}</span>
                    </li>
                    <li v-if="data.item.acknowledge_by">
                      Acknowledge by {{ data.item.acknowledge_by }} at
                      {{
                        new Date(data.item.acknowledge_time).toLocaleString()
                      }}
                    </li>
                    <li v-if="data.item.validated_by">
                      Validated by {{ data.item.validated_by }} at
                      {{ new Date(data.item.validated_time).toLocaleString() }}
                    </li>
                    <!-- <li>Closed by</li> -->
                  </ul>
                </template>
              </b-table>
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="dataTables_paginate paging_simple_numbers float-right"
                >
                  <ul class="pagination pagination-rounded mb-0">
                    <!-- pagination -->
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                    ></b-pagination>
                  </ul>
                </div>
              </div>
            </div>
            <b-button pill size="sm" variant="light"
              >Total Alert: {{ totalRows }}</b-button
            >
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
