<template>
  <div class="card h-100">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4 class="card-title mb-4">Alert Gempa</h4>
        </div>
        <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
      </div>
      <div class="table-responsive mb-0">
        <table class="table table-borderless mb-0">
          <thead>
            <tr class="border-top border-bottom">
              <th>Lokasi</th>
              <th class="text-center">Magnitudo</th>
              <th class="text-center">Kedalaman</th>
              <th class="text-center">Waktu</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" v-for="(item, idx) in gempa" :key="idx">
              <td class="text-left">{{ item.wilayah }}</td>
              <td>{{ item.magnitude }}</td>
              <td>{{ item.kedalaman }}</td>
              <td>
                {{ item.date_time | dateFormat }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import { DateTime } from 'luxon';
export default {
  data() {
    return {
      gempa: [],
    };
  },
  methods: {
    fetchData() {
      axios
        .get(`${BASE_URL}/dashboard/gempa-alert`, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.gempa = resp.data;
        });
    },
  },
  filters: {
    dateFormat(val) {
      let dt = DateTime.fromJSDate(new Date(val)).toFormat('dd LLL yyyy hh:MM');
      return dt;
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
