<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Radio Transport</h4>
          </div>
          <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>#</th>
                <th class="text-center">Down</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" v-for="(n, index) in 7" :key="index">
                <td class="text-secondary text-left font-weight-light">
                  REG{{ n }}
                </td>
                <td>
                  <router-link
                    :to="{
                      path: '/details/radio',
                      query: {
                        reg: `REG${n}`,
                      },
                    }"
                    >{{ alert[`reg${n}`].down_new }}</router-link
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-4">
          <b-button
            to="details/radio"
            tag="b-button"
            class="mr-2 outline-dark"
            variant="outline-dark"
            size="sm"
            pill
          >
            See All Detail Alert
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from "../../../../helpers/fakebackend/auth-header";
export default {
  data() {
    return {
      alert: {
        reg1: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg2: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg3: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg4: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg5: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg6: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg7: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
      },
      total: 0,
    };
  },
  methods: {
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/radio-alert`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          if (resp.data.data && resp.data.data.length > 0) {
            let item = resp.data.data;
            this.alert.reg1 = {
              ...item.filter((x) => x.regional == "REG1")[0],
            };

            this.alert.reg2 = {
              ...item.filter((x) => x.regional == "REG2")[0],
            };

            this.alert.reg3 = {
              ...item.filter((x) => x.regional == "REG3")[0],
            };

            this.alert.reg4 = {
              ...item.filter((x) => x.regional == "REG4")[0],
            };

            this.alert.reg5 = {
              ...item.filter((x) => x.regional == "REG5")[0],
            };

            this.alert.reg6 = {
              ...item.filter((x) => x.regional == "REG6")[0],
            };

            this.alert.reg7 = {
              ...item.filter((x) => x.regional == "REG7")[0],
            };
          }
          this.total = resp.data.total_new;
        });
    },
  },
  mounted() {
    this.fetchAlertData();
  },
};
</script>
