<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Tiket HSI Lambat</h4>
          </div>
          <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>#</th>
                <th class="text-center">H</th>
                <th class="text-center">H-1</th>
                <th class="text-center">H-7</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                v-for="(item, idx) in listData"
                :key="idx"
              >
                <td class="text-secondary text-left font-weight-light">
                  {{ item.regional }}
                </td>
                <td>
                  <router-link
                    :to="{
                      path: '/details/hsi-lambat',
                      query: {
                        reg: item.regional,
                        tanggal: moment().format('MM-DD-YYYY'),
                      },
                    }"
                    >{{ item.h1 }}</router-link
                  >
                </td>
                <td>
                  <router-link
                    :to="{
                      path: '/details/hsi-lambat',
                      query: {
                        reg: item.regional,
                        tanggal: moment()
                          .subtract(1, 'days')
                          .format('MM-DD-YYYY'),
                      },
                    }"
                    >{{ item.h2 }}</router-link
                  >
                </td>
                <td>
                  <router-link
                    :to="{
                      path: '/details/hsi-lambat',
                      query: {
                        reg: item.regional,
                        tanggal: moment()
                          .subtract(7, 'days')
                          .format('MM-DD-YYYY'),
                      },
                    }"
                    >{{ item.h7 }}</router-link
                  >
                </td>
              </tr>
              <tr class="text-center border-top">
                <td class="text-secondary text-left font-weight-light">
                  Jumlah
                </td>
                <td>{{ total.h }}</td>
                <td>{{ total.h1 }}</td>
                <td>{{ total.h7 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-2">
          <b-button
            to="details/hsi-lambat"
            tag="b-button"
            class="mr-2 outline-dark"
            variant="outline-dark"
            size="sm"
            pill
          >
            See All Witel
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import moment from 'moment';

export default {
  data() {
    return {
      listData: [],
      total: {
        h: 0,
        h1: 0,
        h7: 0,
      },
    };
  },
  methods: {
    moment: function () {
      return moment();
    },
    fetchData() {
      axios
        .get(`${BASE_URL}/dashboard/hsi-lambat`, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.listData = resp.data;
          this.listData.forEach((item) => {
            this.total.h += parseInt(item.h1);
            this.total.h1 += parseInt(item.h2);
            this.total.h7 += parseInt(item.h7);
          });
        })
        .catch((e) => {
          console.log('HSi Err : ', e);
        });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
