<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Tiket HSI</h4>
          </div>
          <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
        </div>
        <div class="table-responsive mb-0 tableFixHead">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>Witel</th>
                <th class="text-center">Jml. Tiket</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                v-for="(item, idx) in listData"
                :key="idx"
              >
                <td class="text-left">{{ item.Witel }}</td>
                <td>{{ item.jumlah }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-2">
          <b-button
            to="details/hsi-high"
            tag="b-button"
            class="mr-2 outline-dark"
            variant="outline-dark"
            size="sm"
            pill
          >
            See All Witel
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';

export default {
  data() {
    return {
      listData: [],
    };
  },
  methods: {
    fetchData() {
      axios
        .get(`${BASE_URL}/dashboard/active-hsi`, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.listData = resp.data;
        })
        .catch((e) => {
          console.log('HSi Err : ', e);
        });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<style scoped>
.tableFixHead {
  overflow: auto;
  height: 500px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}
</style>
