<template>
  <div class="col-xl-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Alert Summary</h4>
        <div class="row border-top pt-3">
          <div class="col-md-3">
            <span class="ml-2 font-weight-bold">BACKBONE</span>
            <apexchart
              type="bar"
              :options="chartOptions"
              :series="seriesBackbone"
            ></apexchart>
          </div>
          <div class="col-md-3">
            <span class="ml-2 font-weight-bold">METRO</span>
            <apexchart
              type="bar"
              :options="chartOptions"
              :series="seriesMetro"
            ></apexchart>
          </div>
          <div class="col-md-3">
            <span class="ml-2 font-weight-bold">GPON</span>
            <apexchart
              type="bar"
              :options="chartOptions"
              :series="seriesGpon"
            ></apexchart>
          </div>
          <div class="col-md-3">
            <span class="ml-2 font-weight-bold">SERVICE NODE</span>
            <apexchart
              type="bar"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <i style="color: #ff3c5d" class="fas fa-square"></i>
            New
          </div>
          <div class="col-7">
            <i style="color: #3ba6ff" class="fas fa-square"></i>
            Acknowledge
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import router from '../../../../router/index';
export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      series: [
        {
          name: 'service node',
          data: [0, 0],
        },
      ],
      seriesGpon: [
        {
          name: 'gpon',
          data: [0, 0],
        },
      ],
      seriesBackbone: [
        {
          name: 'backbone',
          data: [0, 0],
        },
      ],
      seriesMetro: [
        {
          name: 'metro',
          data: [0, 0],
        },
      ],
      chartOptions: {
        chart: {
          type: 'bar',
          toolbar: {
            show: false,
          },
          events: {
            click: function (event, chartContext, config) {
              // The last parameter config contains additional information like `seriesIndex` and `dataPointIndex` for cartesian charts
              // router.push({ path: '/register', query: { plan: 'private' } })
              let key = config.config.series[config.seriesIndex].name;
              let tipe_alert =
                config.config.xaxis.categories[config.dataPointIndex];
              // if (key) {
              switch (key) {
                case 'Backbone':
                  router.push({
                    path: '/details/backbone',
                    query: { tipe_alert },
                  });
                  break;
                case 'Metro':
                  router.push({
                    path: '/details/metro',
                    query: { tipe_alert },
                  });
                  break;
                case 'GPON':
                  router.push({
                    path: '/details/gpon',
                    query: { tipe_alert },
                  });
                  break;
                case 'Service Node':
                  this.$router.push({
                    path: '/details/service-node',
                    query: { tipe_alert },
                  });
                  break;

                default:
                  break;
                // }
              }
              console.log(
                console.log(config.config.series[config.seriesIndex].name),
              );
            },
          },
        },
        legend: {
          show: false,
        },
        colors: ['#FF3C5D', '#3BA6FF'],
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
            distributed: true,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          categories: ['New', 'Acknowledge'],
          // position: 'top',
          labels: {
            show: false,
          },
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
        },
        yaxis: {
          opposite: true,
        },
        grid: {
          show: false,
        },
      },
    };
  },
  methods: {
    getGPONAlert() {
      axios
        .get(`${BASE_URL}/dashboard/alarm-summary/GPON`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.seriesGpon = [
            {
              name: 'GPON',
              data: resp.data.series[0].data,
            },
          ];
        });
    },
    getMetroAlert() {
      axios
        .get(`${BASE_URL}/dashboard/alarm-summary/METRO`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.seriesMetro = [
            {
              name: 'Metro',
              data: resp.data.series[0].data,
            },
          ];
        });
    },
    getBackboneAlert() {
      axios
        .get(`${BASE_URL}/dashboard/alarm-summary/BBONE`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.seriesBackbone = [
            {
              name: 'Backbone',
              data: resp.data.series[0].data,
            },
          ];
        });
    },
    getServiceAlert() {
      axios
        .get(`${BASE_URL}/dashboard/alarm-summary/service-node`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.series = [
            {
              name: 'Service Node',
              data: resp.data.series[0].data,
            },
          ];
        });
    },
  },
  mounted() {
    this.getGPONAlert();
    this.getBackboneAlert();
    this.getMetroAlert();
    this.getServiceAlert();
  },
};
</script>
