<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Backbone Trunk</h4>
          </div>
          <div class="col text-right text-danger">(New Alert: {{ total }})</div>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>#</th>
                <th class="text-center">Down</th>
                <th class="text-center">Degrade Link</th>
                <th class="text-center">Utilized</th>
                <th class="text-center">Healthy Check</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" v-for="(n, index) in 7" :key="index">
                <th scope="row">REG{{ n }}</th>
                <td
                  v-b-tooltip.hover.html
                  :title="`Down New: ${
                    alert[`reg${n}`].down_new
                  } <br/> Down Acknowledge ${alert[`reg${n}`].down_ack}`"
                  :class="`${
                    alert[`reg${n}`].down_new != alert[`reg${n}`].down_ack
                      ? 'text-danger table-danger'
                      : ''
                  }`"
                  :style="`font-weight: ${
                    alert[`reg${n}`].down_new != alert[`reg${n}`].down_ack
                      ? 'bolder'
                      : 'normal'
                  }`"
                >
                  <router-link
                    :to="{
                      path: '/details/backbone',
                      query: {
                        reg: `REG${n}`,
                        status: 'down',
                      },
                    }"
                    >{{ alert[`reg${n}`].down_new }}</router-link
                  >
                </td>
                <td
                  v-b-tooltip.hover.html
                  :title="`Degrade Link New: ${
                    alert[`reg${n}`].degrade_new
                  } <br/> Degrade Link Acknowledge ${
                    alert[`reg${n}`].degrade_ack
                  }`"
                  :class="`${
                    alert[`reg${n}`].degrade_new != alert[`reg${n}`].degrade_ack
                      ? 'text-danger table-danger'
                      : ''
                  }`"
                  :style="`font-weight: ${
                    alert[`reg${n}`].degrade_new != alert[`reg${n}`].degrade_ack
                      ? 'bolder'
                      : 'normal'
                  }`"
                >
                  <router-link
                    :to="{
                      path: '/details/backbone',
                      query: {
                        reg: `REG${n}`,
                        status: 'degrade',
                      },
                    }"
                    >{{ alert[`reg${n}`].degrade_new }}</router-link
                  >
                </td>
                <td
                  v-b-tooltip.hover.html
                  :title="`Utilize New: ${
                    alert[`reg${n}`].utilize_new
                  } <br/> Utilize Acknowledge ${alert[`reg${n}`].utilize_ack}`"
                  :class="`${
                    alert[`reg${n}`].utilize_new != alert[`reg${n}`].utilize_ack
                      ? 'text-danger table-danger'
                      : ''
                  }`"
                  :style="`font-weight: ${
                    alert[`reg${n}`].utilize_new != alert[`reg${n}`].utilize_ack
                      ? 'bolder'
                      : 'normal'
                  }`"
                >
                  <router-link
                    :to="{
                      path: '/details/backbone',
                      query: {
                        reg: `REG${n}`,
                        status: 'utilize',
                      },
                    }"
                    >{{ alert[`reg${n}`].utilize_new }}</router-link
                  >
                </td>
                <td
                  v-b-tooltip.hover.html
                  :title="`Healthy Check New: ${
                    alert[`reg${n}`].healthy_new
                  } <br/> Healthy Check Acknowledge ${
                    alert[`reg${n}`].healthy_ack
                  }`"
                  :class="`${
                    alert[`reg${n}`].healthy_new != alert[`reg${n}`].healthy_ack
                      ? 'text-danger table-danger'
                      : ''
                  }`"
                  :style="`font-weight: ${
                    alert[`reg${n}`].healthy_new != alert[`reg${n}`].healthy_ack
                      ? 'bolder'
                      : 'normal'
                  }`"
                >
                  <router-link
                    :to="{
                      path: '/details/backbone',
                      query: {
                        reg: `REG${n}`,
                        status: 'healty check',
                      },
                    }"
                    >{{ alert[`reg${n}`].healthy_new }}</router-link
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-4">
          <b-button
            to="details/backbone"
            tag="b-button"
            class="mr-2 outline-dark"
            variant="outline-dark"
            size="sm"
            pill
          >
            See All Detail Alert
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
export default {
  data() {
    return {
      alert: {
        reg1: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg2: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg3: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg4: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg5: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg6: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        reg7: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
      },
      total: 0,
    };
  },
  methods: {
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/backbone-alert`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          if (resp.data.data && resp.data.data.length > 0) {
            let item = resp.data.data;
            this.alert.reg1 = {
              ...item.filter((x) => x.regional == 'REG1')[0],
            };

            this.alert.reg2 = {
              ...item.filter((x) => x.regional == 'REG2')[0],
            };

            this.alert.reg3 = {
              ...item.filter((x) => x.regional == 'REG3')[0],
            };

            this.alert.reg4 = {
              ...item.filter((x) => x.regional == 'REG4')[0],
            };

            this.alert.reg5 = {
              ...item.filter((x) => x.regional == 'REG5')[0],
            };

            this.alert.reg6 = {
              ...item.filter((x) => x.regional == 'REG6')[0],
            };

            this.alert.reg7 = {
              ...item.filter((x) => x.regional == 'REG7')[0],
            };
          }
          this.total = resp.data.total_new;
        });
    },
  },
  mounted() {
    this.fetchAlertData();
  },
};
</script>
