<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Service Node</h4>
          </div>
          <div class="col text-right text-danger">(New Alert: {{ total }})</div>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>#</th>
                <th class="text-center">Down</th>
                <th class="text-center">Degrade Link</th>
                <th class="text-center text-secondary font-weight-light">
                  Utilized
                </th>
                <th class="text-center">Healthy Check</th>
              </tr>
            </thead>
            <tbody>
              <tr-service-node
                name="Datin"
                :alert="alert.datin"
              ></tr-service-node>

              <tr-service-node
                name="Voice"
                :alert="alert.voice"
              ></tr-service-node>

              <tr-service-node
                name="Brdbnd"
                :alert="alert.brdbnd"
              ></tr-service-node>

              <tr-service-node
                name="IPTV"
                :alert="alert.iptv"
              ></tr-service-node>
            </tbody>
          </table>
        </div>
        <div class="mt-4">
          <b-button
            to="details/service-node"
            tag="b-button"
            class="mr-2 outline-dark"
            variant="outline-dark"
            size="sm"
            pill
          >
            See All Detail Alert
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import TrServiceNode from './TrServiceNode.vue';
export default {
  components: { TrServiceNode },
  data() {
    return {
      alert: {
        datin: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        brdbnd: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        iptv: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
        voice: {
          down_new: 0,
          down_ack: 0,
          utilize_new: 0,
          utilize_ack: 0,
          degrade_new: 0,
          degrade_ack: 0,
          healthy_new: 0,
          healthy_ack: 0,
        },
      },
      total: 0,
    };
  },
  methods: {
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/service-alert`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          if (resp.data.data && resp.data.data.length > 0) {
            let item = resp.data.data;
            this.alert.datin = {
              ...item.filter((x) => x.node == 'Datin')[0],
            };

            this.alert.brdbnd = {
              ...item.filter((x) => x.node == 'Brdbnd')[0],
            };

            this.alert.iptv = {
              ...item.filter((x) => x.node == 'IPTV')[0],
            };

            this.alert.voice = {
              ...item.filter((x) => x.node == 'Voice')[0],
            };
          }
          this.total = resp.data.total_new;
        });
    },
  },
  mounted() {
    this.fetchAlertData();
  },
};
</script>
