<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">Alert Pintu Air</h4>
          </div>
          <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
        </div>
        <div class="table-responsive mb-0 tableFixHead">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>#</th>
                <th class="text-center">Tinggi</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                v-for="(item, index) in data"
                :key="index"
              >
                <td class="text-secondary text-left">
                  {{ item.NAMA_PINTU_AIR._text }}
                </td>
                <td>{{ item.TINGGI_AIR._text }}</td>
                <td
                  v-if="item.STATUS_SIAGA._text !== 'Status : Normal'"
                  class="text-danger font-weight-bold"
                >
                  {{ item.STATUS_SIAGA._text }}
                </td>
                <td v-else class="font-weight-bold">
                  {{ item.STATUS_SIAGA._text }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
export default {
  data() {
    return {
      total: 0,
      data: [],
    };
  },
  methods: {
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/banjir-alert`, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.data = resp.data.DocumentElement.SP_GET_LAST_STATUS_PINTU_AIR;
        })
        .catch((e) => {
          console.log('Pintu Air Err : ', e);
        });
    },
  },
  mounted() {
    this.fetchAlertData();
  },
};
</script>
<style scoped>
.tableFixHead {
  overflow: auto;
  height: 500px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}
</style>
