<template>
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-4">CPU NAT HSI ({{ total }} Outlier)</h4>
          </div>
          <!-- <div class="col text-right text-danger">(New Alert: 1)</div> -->
        </div>
        <div class="table-responsive mb-0">
          <b-table
            sticky-header="500px"
            :items="listData"
            :fields="fields"
            responsive="sm"
            :per-page="perpage"
            :current-page="currentPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :busy="!listData ? true : false || isLoading"
          >
            <template #table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong class="ml-3">Loading...</strong>
              </div>
            </template>
            <template #cell(no)="data">
              {{ data.index + 1 }}
            </template>
            <template #cell(hostname)="data">
              <a href="#" @click="showDetail(data.item.hostname)"
                >{{ data.item.hostname }}
              </a></template
            >
          </b-table>

          <div class="dataTables_paginate paging_simple_numbers float-right">
            <ul class="pagination pagination-rounded mb-0">
              <!-- pagination -->
              <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perpage"
              ></b-pagination>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <b-modal size="xl" id="detailCpuModal" title="Bulk Close Alert" hide-footer>
      <table-detail-cpu :listData="dataDetail"></table-detail-cpu>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from "../../../../helpers/fakebackend/auth-header";
import TableDetailCpu from "./TableDetailCpu.vue";
export default {
  components: {
    TableDetailCpu,
  },
  data() {
    return {
      isLoading: false,
      listData: [],
      dataDetail: [],
      total: 0,
      rows: 0,
      currentPage: 1,
      totalRows: 1,
      page: 1,
      perpage: 10,
      sortBy: "age",
      sortDesc: false,
      filter: null,
      filterOn: [],
      fields: [
        { key: "no", label: "No." },
        { key: "hostname", sortable: true },
        { key: "total", label: "Jml Interface", sortable: true },
        { key: "outlier", label: "Outlier", sortable: true },
        { key: "normal", label: "Normal", sortable: true },
      ],
    };
  },
  methods: {
    showDetail(hostname) {
      axios
        .get(`${BASE_URL}/dashboard/cpu-nat-detail`, {
          params: {
            hostname: hostname,
          },
        })
        .then((resp) => {
          this.dataDetail = resp.data.data;
          this.$bvModal.show("detailCpuModal");
          console.log(resp.data);
        });
    },
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/cpu-nat-hsi`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.listData = resp.data.data;
          this.rows = this.listData.length;
          this.total = this.listData.length;
        });
    },
  },
  mounted() {
    this.fetchAlertData();
  },
};
</script>
