<template>
  <div class="col-xl-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title mb-4">Alert Blackout</h4>
          </div>
          <div class="col-md-6 text-right">
            <router-link to="/details/blackout" class="btn btn-outline-primary"
              >Detail</router-link
            >
          </div>
        </div>

        <div class="my-3">
          <div class="row justify-content-center">
            <div
              class="col-2 border border-dark text-center mr-2 pt-4 pb-2 rounded-lg"
            >
              <h1>{{ total }}</h1>
            </div>
            <div
              id="alert-blackout"
              class="col-9 border border-dark rounded-lg overflow-auto py-2"
              style="height: 90px"
            >
              <ol>
                <!-- <li
                  class="px-2 my-1 bg-danger rounded-pill"
                  v-for="(item, idx) in listData"
                  :key="idx"
                >
                  <div class="row text-white">
                    <div class="col">{{ item.device }}</div>
                    <div class="col text-right">
                      {{ item.tm_ehealth | dateFormat }}
                    </div>
                  </div>
                </li> -->
                <li
                  class="px-2 my-1"
                  v-for="(item, idx) in listData"
                  :key="idx"
                >
                  <div class="row">
                    <div class="col">{{ item.device }}</div>
                    <div class="col text-right">
                      {{ item.updated_at | dateFormat }}
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <p class="font-weight-bolder">Impact Service Cust</p>
        <div class="row">
          <div class="col-3" v-for="(item, idx) in impact" :key="idx">
            <div class="text-secondary font-weight-bold">{{ item.segmen }}</div>
            <div class="h2 text-danger">{{ item.jumlah }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../../helpers/fakebackend/auth-header';
import { DateTime } from 'luxon';
export default {
  data() {
    return {
      listData: [],
      total: 0,
      impact: [],
    };
  },
  filters: {
    dateFormat(val) {
      let dt = DateTime.fromJSDate(new Date(val)).toFormat('dd LLL yyyy hh:MM');
      return dt;
    },
  },
  methods: {
    fetchAlertData() {
      axios
        .get(`${BASE_URL}/dashboard/blackout-alert`, {
          headers: {
            ...authHeader(),
          },
        })
        .then((resp) => {
          this.listData = resp.data.data;
          this.impact = resp.data.impact;
          this.total = resp.data.total;
        });
    },
    pageScroll() {
      var container = this.$el.querySelector('#alert-blackout');
      // container.scrollTop = container.scrollHeight;
      container.scrollBy(0, 1);
      setTimeout(this.pageScroll, 50);
    },
  },
  mounted() {
    this.pageScroll();
    this.fetchAlertData();
  },
};
</script>
