<template>
  <div>
    <b-table
      sticky-header="500px"
      :items="listData"
      :fields="fields"
      responsive="sm"
      :per-page="perpage"
      :current-page="currentPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
      :filter-included-fields="filterOn"
      @filtered="onFiltered"
      :busy="!listData ? true : false || isLoading"
    >
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong class="ml-3">Loading...</strong>
        </div>
      </template>
      <template #cell(no)="data">
        {{ data.index + 1 }}
      </template>
    </b-table>

    <div class="dataTables_paginate paging_simple_numbers float-right">
      <ul class="pagination pagination-rounded mb-0">
        <!-- pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perpage"
        ></b-pagination>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      total: 0,
      rows: 0,
      currentPage: 1,
      totalRows: 1,
      page: 1,
      perpage: 50,
      sortBy: "hostname",
      sortDesc: false,
      filter: null,
      filterOn: [],
      fields: [
        { key: "no", label: "No." },
        { key: "hostname", label: "Node", sortable: true },
        { key: "interface", label: "Interface", sortable: true },
        { key: "cpu", sortable: true },
        { key: "memory", label: "Memory", sortable: true },
        { key: "kategori", label: "kategori", sortable: true },
      ],
    };
  },
  props: {
    listData: [],
  },
  watch: {
    listData: function () {
      this.rows = this.listData.length;
      this.currentPage = 1;
      this.page = 1;
      this.perpage = 50;
    },
  },
};
</script>
