<template>
  <tr class="text-center">
    <th scope="row">{{ name }}</th>
    <td
      v-b-tooltip.hover.html
      :title="`Down New: ${alert.down_new} <br/> Down Acknowledge ${alert.down_ack}`"
      :class="`${
        alert.down_new != alert.down_ack ? 'text-danger table-danger' : ''
      }`"
      :style="`font-weight: ${
        alert.down_new != alert.down_ack ? 'bolder' : 'normal'
      }`"
    >
      <router-link
        :to="{
          path: '/details/service-node',
          query: {
            status: 'down',
          },
        }"
        >{{ alert.down_new }}</router-link
      >
    </td>
    <td
      v-b-tooltip.hover.html
      :title="`Degrade Link New: ${alert.degrade_new} <br/> Degrade Link Acknowledge ${alert.degrade_ack}`"
      :class="`${
        alert.degrade_new != alert.degrade_ack ? 'text-danger table-danger' : ''
      }`"
      :style="`font-weight: ${
        alert.degrade_new != alert.degrade_ack ? 'bolder' : 'normal'
      }`"
    >
      <router-link
        :to="{
          path: '/details/service-node',
          query: {
            status: 'degrade',
          },
        }"
        >{{ alert.degrade_new }}</router-link
      >
    </td>
    <td
      v-b-tooltip.hover.html
      :title="`Utilize New: ${alert.utilize_new} <br/> Utilize Acknowledge ${alert.utilize_ack}`"
      :class="`${
        alert.utilize_new != alert.utilize_ack ? 'text-danger table-danger' : ''
      }`"
      :style="`font-weight: ${
        alert.utilize_new != alert.utilize_ack ? 'bolder' : 'normal'
      }`"
    >
      <router-link
        :to="{
          path: '/details/service-node',
          query: {
            status: 'utilize',
          },
        }"
        >{{ alert.utilize_new }}</router-link
      >
    </td>
    <td
      v-b-tooltip.hover.html
      :title="`Healthy Check New: ${alert.healthy_new} <br/> Healthy Check Acknowledge ${alert.healthy_ack}`"
      :class="`${
        alert.healthy_new != alert.healthy_ack ? 'text-danger table-danger' : ''
      }`"
      :style="`font-weight: ${
        alert.healthy_new != alert.healthy_ack ? 'bolder' : 'normal'
      }`"
    >
      <router-link
        :to="{
          path: '/details/service-node',
          query: {
            status: 'healty check',
          },
        }"
        >{{ alert.healthy_new }}</router-link
      >
    </td>
  </tr>
</template>
<script>
export default {
  props: ['alert', 'name'],
};
</script>
