<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';
import { authFackMethods, notificationMethods } from '@/state/helpers';
import { required, email } from 'vuelidate/lib/validators';
/**
 * Starter page component
 */
export default {
  page: {
    title: 'Profile',
    meta: [{ name: 'description' }],
  },
  components: { Layout, PageHeader },
  computed: {
    currentUser: {
      get() {
        return this.$store
          ? { ...this.$store.state.authfack.currentUser }
          : null;
      },
      set(val) {
        console.log(val);
      },
    },
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
  },
  data() {
    return {
      title: 'Profile',
      items: [
        {
          text: 'Profile',
          href: '#',
          active: true,
        },
        // {
        //   text: "Starter page",
        //   active: true
        // }
      ],
      form: {
        username: '',
        ldapflag: false,
        email: '',
        no_hp: '',
        ktp: '',
      },
      submitted: false,
    };
  },
  validations: {
    currentUser: {
      username: { required },
      ldapflag: { required },
      email: { required, email },
      no_hp: { required },
      ktp: { required },
    },
  },
  mounted() {
    const { username, ldapflag, email, no_hp, ktp } = this.currentUser;
    this.form = { username, ldapflag, email, no_hp, ktp };
  },
  methods: {
    ...authFackMethods,
    ...notificationMethods,
    handleSubmit() {
      this.submitted = true;
      // const { id, username, ldapflag, email, no_hp, ktp } = this.currentUser;
      // let data = { id, username, ldapflag, email, no_hp, ktp };
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.updateUserById(this.currentUser);
        // console.log(this.currentUser);
      }
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-around py-4">
              <div class="col-12 col-md-6 col-lg-4">
                <b-alert
                  :variant="notification.type"
                  class="mt-3"
                  v-if="notification.message"
                  show
                  dismissible
                  >{{ notification.message }}</b-alert
                >
                <h4 class="card-title">Biodata</h4>
                <form class="form-horizontal mt-3" role="form">
                  <b-form-group
                    label="Username/NIK"
                    label-cols-sm="2"
                    label-cols-lg="4"
                    label-for="username"
                  >
                    <b-form-input
                      for="username"
                      v-model="currentUser.username"
                      :class="{
                        'is-invalid':
                          submitted && $v.currentUser.username.$error,
                      }"
                    ></b-form-input>
                    <div
                      v-if="submitted && $v.currentUser.username.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.currentUser.username.required"
                        >This value is required.</span
                      >
                    </div>
                  </b-form-group>
                  <b-form-group
                    label="Ldap Flag"
                    label-cols-sm="2"
                    label-cols-lg="4"
                    label-for="ldap"
                  >
                    <b-form-checkbox
                      for="ldap"
                      v-model="currentUser.ldapflag"
                      switch
                    />
                  </b-form-group>
                  <b-form-group
                    label="Email"
                    label-cols-sm="2"
                    label-cols-lg="4"
                    label-for="email"
                  >
                    <b-form-input
                      for="email"
                      type="email"
                      v-model="currentUser.email"
                      :class="{
                        'is-invalid': submitted && $v.currentUser.email.$error,
                      }"
                    ></b-form-input>
                    <div
                      v-if="submitted && $v.currentUser.email.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.currentUser.email.required"
                        >This value is required.</span
                      >
                    </div>
                  </b-form-group>
                  <b-form-group
                    label="No. HP"
                    label-cols-sm="2"
                    label-cols-lg="4"
                    label-for="nohp"
                  >
                    <b-form-input
                      for="nohp"
                      type="text"
                      v-model="currentUser.no_hp"
                      :class="{
                        'is-invalid': submitted && $v.currentUser.no_hp.$error,
                      }"
                    ></b-form-input>
                    <div
                      v-if="submitted && $v.currentUser.no_hp.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.currentUser.no_hp.required"
                        >This value is required.</span
                      >
                    </div>
                  </b-form-group>
                  <b-form-group
                    label="KTP"
                    label-cols-sm="2"
                    label-cols-lg="4"
                    label-for="ktp"
                  >
                    <b-form-input
                      for="ktp"
                      type="text"
                      v-model="currentUser.ktp"
                      :class="{
                        'is-invalid': submitted && $v.currentUser.ktp.$error,
                      }"
                    ></b-form-input>
                    <div
                      v-if="submitted && $v.currentUser.ktp.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.currentUser.ktp.required"
                        >This value is required.</span
                      >
                    </div>
                  </b-form-group>
                  <b-button variant="danger" block @click="handleSubmit"
                    >Ubah data</b-button
                  >
                </form>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <h4 class="card-title">Data Telegram</h4>
                <span
                  v-if="currentUser.telegram_verification !== null"
                  class="card-title-desc"
                >
                  Silakan gunakan kode berikut untuk melakukan verifikasi
                  telegram
                </span>
                <div class="row mt-3">
                  <div class="col-sm-2 col-lg-4">Kode Verivikasi</div>
                  <div class="col-sm-10 col-lg-8 mb-3">
                    {{ currentUser.telegram_verification || '-' }}
                  </div>
                  <div class="col-sm-2 col-lg-4">Telegram Username</div>
                  <div class="col-sm-10 col-lg-8 mb-3">
                    {{ currentUser.telegram_username || '-' }}
                  </div>
                  <div class="col-sm-2 col-lg-4">Telegram User Id</div>
                  <div class="col-sm-10 col-lg-8 mb-3">
                    {{ currentUser.telegram_id || '-' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
