<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import {
  authFackMethods,
  notificationMethods,
  excludeMethods,
} from "@/state/helpers";
/**
 * Starter page component
 */
export default {
  page: {
    title: "Exclude request",
    meta: [{ name: "description" }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Exclude request",
      items: [
        {
          text: "Inbox",
        },
        {
          text: "Dismantel Validation",
          active: true,
        },
      ],
      data: [],
      oldData: [
        {
          alert_type: "GPON",
          area: "REG 1",
          alert_code: "#AlertCode",
          category: "Down",
          status: "Not Valid",
        },
        {
          alert_type: "GPON",
          area: "REG 2",
          alert_code: "#AlertCode",
          category: "Down",
          status: "Not Valid",
        },
        {
          alert_type: "GPON",
          area: "REG 3",
          alert_code: "#AlertCode",
          category: "Down",
          status: "Not Valid",
        },
      ],
      multipleSelect: false,
      multipleData: [],
      // selectedData: [],
      catatan: "",
      tindakLanjut: "",
    };
  },
  computed: {
    modalData() {
      if (this.multipleSelect) {
        return this.multipleData;
      }
      return this.multipleData.length === 0 ? this.data : this.multipleData;
    },
  },
  methods: {
    ...authFackMethods,
    ...notificationMethods,
    ...excludeMethods,
    multipleSelectHandle() {
      this.multipleSelect = !this.multipleSelect;
      if (!this.multipleSelect) {
        this.multipleData = [];
      }
    },
    // assignData(val) {
    //   this.selectedData = val;
    // },
    appendData(val, event) {
      if (event.target.checked) {
        this.multipleData.push(val);
      } else {
        this.multipleData = this.multipleData.filter((e) => e.id != val.id);
      }
    },
    handleCreateRespond() {
      console.log(this.multipleData);
    },
  },
  mounted() {
    this.data = this.getAllExclude();
    this.totalRows = this.data ? this.data.length : 0;
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12 col-md-6">
        <div id="tickets-table_length" class="dataTables_length">
          <label class="d-inline-flex align-items-center">
            <b-form-select
              value="Terbaru"
              size="sm"
              :options="['Terbaru', 'Terlama']"
            ></b-form-select>
          </label>
          <label class="d-inline-flex align-items-center">
            <b-form-select
              value="Status"
              size="sm"
              :options="['Status']"
            ></b-form-select>
          </label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div id="tickets-table_filter" class="dataTables_filter text-md-right">
          <label class="d-inline-flex align-items-center">
            <b-form-input
              type="search"
              placeholder="Search..."
              class="form-control form-control-sm ml-2"
            ></b-form-input>
          </label>
        </div>
      </div>
    </div>
    <b-modal
      size="lg"
      id="createRespondModal"
      title="Flagging Dismantle"
      hide-footer
    >
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Alert Code</th>
              <th>Alert Type</th>
              <th>Area</th>
              <th>Category</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in modalData" :key="index">
              <th scope="row">{{ item.alert_code }}</th>
              <td>{{ item.alert_type }}</td>
              <td>{{ item.area }}</td>
              <td>{{ item.category }}</td>
              <td>
                <b-button pill size="sm" variant="secondary">{{
                  item.status
                }}</b-button>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="text-center" v-if="modalData.length === 0">
                Anda belum memilih data
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <form ref="form" @submit.stop.prevent="handleCreateRespond">
          <b-form-group label="Tindak Lanjut:" v-slot="{ ariaDescribedby }">
            <b-form-radio
              v-model="tindakLanjut"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="setuju"
              >Setujui Request</b-form-radio
            >
            <b-form-radio
              v-model="tindakLanjut"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="tolak"
              >Tolak Request</b-form-radio
            >
          </b-form-group>
          <b-form-group label="Catatan" label-for="catatan-input">
            <b-form-textarea
              id="catatan-input"
              v-model="catatan"
            ></b-form-textarea>
          </b-form-group>
          <div class="row">
            <div class="col-8">
              <p>*Akan mengirim notif ke requester</p>
            </div>
            <div class="col-4 text-right">
              <b-button
                type="submit"
                variant="danger"
                @click="$bvModal.hide('createRespondModal')"
                >Submit</b-button
              >
            </div>
          </div>
        </form>
      </div>
    </b-modal>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title">Flagging Exclude #23</h4>
          </div>
          <div class="col-6 text-right">
            <b-button
              @click="multipleSelectHandle"
              class="mr-2"
              size="sm"
              variant="outline-info"
              >Multiple Select</b-button
            >
            <b-button size="sm" pill variant="primary">Need Exclude</b-button>
          </div>
        </div>
        <div class="table-responsive mb-0 mt-4">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th v-if="multipleSelect"></th>
                <th>Alert Type</th>
                <th class="text-center">Area</th>
                <th class="text-center">Alert Code</th>
                <th class="text-center">Category</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in data"
                :key="index"
                class="text-center"
              >
                <td v-if="multipleSelect">
                  <div class="custom-control custom-checkbox">
                    <input
                      @change="appendData(item, $event)"
                      type="checkbox"
                      class="custom-control-input"
                      :id="`data-${index}`"
                    />
                    <label class="custom-control-label" :for="`data-${index}`"
                      >&nbsp;</label
                    >
                  </div>
                </td>
                <td class="text-left">{{ item.alert_type }}</td>
                <td>{{ item.area }}</td>
                <td>{{ item.alert_code }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <b-button pill size="sm" variant="secondary">{{
                    item.status
                  }}</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3">
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Requester: </span>Survaillance11
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Jam: </span>HH:MM, DD-MM-YY
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Catatan: </span>Lorem Ipsum dolor
            Sitamet
          </p>
        </div>
        <div class="text-right">
          <b-button variant="danger" v-b-modal.createRespondModal
            >Create Respond</b-button
          >
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title">Flagging Exclude #23</h4>
          </div>
          <div class="col-6 text-right">
            <b-button size="sm" pill variant="light"
              ><span class="text-primary font-weight-bolder"
                >Exclude Disetujui</span
              ></b-button
            >
          </div>
        </div>
        <div class="table-responsive mb-0 mt-4">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>Alert Type</th>
                <th class="text-center">Area</th>
                <th class="text-center">Alert Code</th>
                <th class="text-center">Category</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in data.slice(0, 1)"
                :key="index"
                class="text-center"
              >
                <td class="text-left">{{ item.alert_type }}</td>
                <td>{{ item.area }}</td>
                <td>{{ item.alert_code }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <b-button pill size="sm" variant="secondary">{{
                    item.status
                  }}</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3">
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Requester: </span>Survaillance11
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Jam: </span>HH:MM, DD-MM-YY
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Catatan: </span>Lorem Ipsum dolor
            Sitamet
          </p>
        </div>
        <div class="text-right">
          <b-button variant="dark">Check Your Responses</b-button>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title">Flagging Exclude #23</h4>
          </div>
          <div class="col-6 text-right">
            <b-button size="sm" pill variant="light"
              ><span class="font-weight-bolder">Exclude Ditolak</span></b-button
            >
          </div>
        </div>
        <div class="table-responsive mb-0 mt-4">
          <table class="table table-borderless mb-0">
            <thead>
              <tr class="border-top border-bottom">
                <th>Alert Type</th>
                <th class="text-center">Area</th>
                <th class="text-center">Alert Code</th>
                <th class="text-center">Category</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in data.slice(0, 1)"
                :key="index"
                class="text-center"
              >
                <td class="text-left">{{ item.alert_type }}</td>
                <td>{{ item.area }}</td>
                <td>{{ item.alert_code }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <b-button pill size="sm" variant="secondary">{{
                    item.status
                  }}</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3">
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Requester: </span>Survaillance11
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Jam: </span>HH:MM, DD-MM-YY
          </p>
          <p class="text-black font-weight-bolder">
            <span class="text-secondary">Catatan: </span>Lorem Ipsum dolor
            Sitamet
          </p>
        </div>
        <div class="text-right">
          <b-button variant="dark">Check Your Responses</b-button>
        </div>
      </div>
    </div>
  </Layout>
</template>
