<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-6">2020 © Nazox.</div> -->
        <div class="col-sm-12">
          <div class="text-sm-right d-none d-sm-block">
            &copy;2022, crafted with
            <i class="mdi mdi-heart text-danger"></i> by Divisi Service
            Operation
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
