<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';
import appConfig from '@/app.config';
import Multiselect from 'vue-multiselect';

import {
  roleMethods,
  notificationMethods,
  permissionMethods,
} from '@/state/helpers';

/**
 * Basic-table component
 */
export default {
  page: {
    title: 'Roles',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  // eslint-disable-next-line vue/no-unused-components
  components: { Layout, PageHeader, Multiselect },
  data() {
    return {
      title: 'Role Management',
      items: [
        {
          text: 'Master Data',
        },
        {
          text: 'Role Management',
          active: true,
        },
      ],
      name: '',
      permissionsArr: [],
      nameState: null,
      selectedRoleId: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: 'id',
      sortDesc: false,
      fields: [
        { key: 'no', label: 'No.' },
        { key: 'role_name', sortable: true },
        { key: 'aksi', label: 'Aksi' },
      ],
    };
  },
  watch: {
    notification(val) {
      console.log(val);
    },
  },
  computed: {
    /**
     * Total no. of records
     */
    rows() {
      return this.roles ? this.roles.length : 0;
    },
    roles() {
      return this.$store ? this.$store.state.role.roles?.data : null;
    },
    totalAlerts() {
      return this.$store ? this.$store.state.role.roles?.total : 0;
    },
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
    isLoading() {
      return this.$store ? this.$store.state.role.isLoading : null;
    },
    permissions() {
      return this.$store ? this.$store.state.permission.options : [];
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.roles ? this.roles.length : 0;

    this.getAll();
    this.getAllPermissionOptions();
  },
  methods: {
    ...roleMethods,
    ...notificationMethods,
    ...permissionMethods,
    /**
     * Search the table data with search input
     */
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    resetModal() {
      this.name = '';
      this.nameState = null;
      this.permissionsArr = [];
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      // Push the name to submitted names
      this.addRole({ role_name: this.name, permissions: this.permissionsArr });
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-add-role');
      });
    },
    updateRole(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleUpdate();
    },
    handleUpdate() {
      if (!this.checkFormValidity()) {
        return;
      }

      // let index = this.tableData.findIndex(
      //   (obj) => obj.id == this.selectedRoleId,
      // );
      // console.log(index);

      // this.tableData[index].name = this.name;
      let role = {
        id: this.selectedRoleId,
        role_name: this.name,
        permissions: this.permissionsArr,
      };
      this.updateRoleById(role);

      this.$nextTick(() => {
        this.$bvModal.hide('modal-update-role');
      });
    },
    assignRole(e) {
      this.selectedRoleId = e.id;
      this.name = e.role_name;
      let permissions = [];
      e.permissions.map((e) => permissions.push(e.id));
      this.permissionsArr = permissions;
    },
    deleteRole() {
      this.deleteRoleById(this.selectedRoleId);
      // console.log(this.selectedRoleId);

      this.$nextTick(() => {
        this.$bvModal.hide('modal-delete-role');
      });
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Roles</h4>
            <b-alert
              :variant="notification.type"
              class="mt-3"
              v-if="notification.message"
              show
              dismissible
              >{{ notification.message }}</b-alert
            >
            <!-- ADD MODAL BUTTON -->
            <b-button v-b-modal.modal-add-role variant="success mt-4">
              <i class="ri-add-line align-middle mr-2"></i> Tambah Role
            </b-button>
            <!-- ADD MODAL -->
            <b-modal
              id="modal-add-role"
              ref="modal"
              title="Submit Your Name"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
            >
              <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                  label="Name"
                  label-for="name-input"
                  invalid-feedback="Name is required"
                >
                  <b-form-input
                    id="name-input"
                    v-model="name"
                    :state="nameState"
                    required
                  ></b-form-input>
                </b-form-group>
                <div class="form-group">
                  <label for="validationCustom08">Permissions</label>

                  <multiselect
                    id="validationCustom08"
                    v-model="permissionsArr"
                    :options="permissions && permissions.map((e) => e.id)"
                    :multiple="true"
                    :custom-label="
                      (opt) => permissions.find((x) => x.id == opt).text
                    "
                  ></multiselect>
                </div>
              </form>
            </b-modal>
            <!-- END OF ADD MODAL -->
            <div class="row mt-4">
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_length" class="dataTables_length">
                  <label class="d-inline-flex align-items-center">
                    Filter&nbsp;
                    <b-form-select
                      v-model="perPage"
                      size="sm"
                      :options="pageOptions"
                    ></b-form-select
                    >&nbsp;entries
                  </label>
                </div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div
                  id="tickets-table_filter"
                  class="dataTables_filter text-md-right"
                >
                  <label class="d-inline-flex align-items-center">
                    Search:
                    <b-form-input
                      v-model="filter"
                      type="search"
                      placeholder="Search..."
                      class="form-control form-control-sm ml-2"
                    ></b-form-input>
                  </label>
                </div>
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                :items="roles"
                :fields="fields"
                responsive="sm"
                :per-page="perPage"
                :current-page="currentPage"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
                :busy="!roles ? true : false || isLoading"
              >
                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong class="ml-3">Loading...</strong>
                  </div>
                </template>
                <template #cell(no)="data">
                  {{ data.index + 1 }}
                </template>
                <template #cell(aksi)="data">
                  <b-button
                    variant="primary"
                    v-b-modal.modal-update-role
                    @click="assignRole(data.item)"
                  >
                    <i class="ri-pencil-fill align-middle"></i>
                  </b-button>
                  <b-button
                    v-b-modal.modal-delete-role
                    variant="danger ml-2"
                    @click="assignRole(data.item)"
                  >
                    <i class="ri-delete-bin-fill align-middle"></i>
                  </b-button>
                </template>
              </b-table>
              <!-- UPDATE MODAL -->
              <b-modal
                id="modal-update-role"
                title="Apa kamu yakin ingin mengubah role ini?"
                @ok="updateRole"
                @hidden="resetModal"
              >
                <form ref="form" @submit.stop.prevent="handleUpdate">
                  <b-form-group
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                    :state="nameState"
                  >
                    <b-form-input
                      id="name-input"
                      v-model="name"
                      :state="nameState"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <div class="form-group">
                    <label for="validationCustom08">Permissions</label>

                    <multiselect
                      id="validationCustom08"
                      v-model="permissionsArr"
                      :options="permissions && permissions.map((e) => e.id)"
                      :multiple="true"
                      :custom-label="
                        (opt) => permissions.find((x) => x.id == opt).text
                      "
                    ></multiselect>
                  </div>
                </form>
              </b-modal>
              <!-- END OF UPDATE MODAL -->
              <!-- DELETE MODAL -->
              <b-modal
                id="modal-delete-role"
                title="Apa kamu yakin ingin menghapus role ini?"
              >
                <p class="my-4">
                  Role yang telah terhapus tidak akan bisa dikembalikan lagi
                </p>
                <template #modal-footer="{ cancel }">
                  <b-button variant="secondary" @click="cancel()">
                    Batalkan
                  </b-button>
                  <b-button variant="danger" @click="deleteRole()">
                    Ya, hapus role ini!
                  </b-button>
                </template>
              </b-modal>
              <!-- END OF DELETE MODAL -->
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="dataTables_paginate paging_simple_numbers float-right"
                >
                  <ul class="pagination pagination-rounded mb-0">
                    <!-- pagination -->
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                    ></b-pagination>
                  </ul>
                </div>
              </div>
            </div>
            <b-button pill size="sm" variant="light"
              >Total Alert: {{ totalAlerts }}</b-button
            >
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
