<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import appConfig from '@/app.config';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from './helpers/fakebackend/auth-header';
import firebase from 'firebase/app';
import 'firebase/messaging';

export default {
  name: 'app',
  page: {
    // All subcomponent titles will be injected into this template.
    titleTemplate(title) {
      title = typeof title === 'function' ? title(this.$store) : title;
      return title ? `${title} | ${appConfig.title}` : appConfig.title;
    },
  },
  mounted() {
    try {
      firebase
        .messaging()
        .requestPermission()
        .then(() => {
          console.log('Notification permission granted');
          firebase
            .messaging()
            .getToken()
            .then((token) => {
              // window.console.log('token ', token);
              let data = {
                firebase_id: token,
              };
              axios
                .post(`${BASE_URL}/user/firebase-update`, data, {
                  headers: {
                    ...authHeader(),
                  },
                })
                .then(() => {
                  // console.log('Response', res);
                })
                .catch((e) => {
                  console.error(e);
                });
              this.receiveMessage();
            });
        })
        .catch((err) => {
          console.log('Unable to get token ', err);
        });
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    receiveMessage() {
      try {
        firebase.messaging().onMessage((payload) => {
          console.log('payload ', payload);
          this.makeToast(payload);
        });
      } catch (e) {
        console.log(e);
      }
    },
    makeToast(payload) {
      this.$bvToast.toast(payload.notification.body, {
        title: payload.notification.title,
        variant: 'info',
        solid: true,
      });
    },
  },
};
</script>
