<template> 
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row mb-4">
      <div class="col-xl-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title mb-4">Alert Tiket Lambat Per Witel</h4>
              </div>
              <!-- <div class="col text-right text-danger">(New Alert: 2)</div> -->
            </div>
            <div class="table-responsive mb-0">
              <b-table
                sticky-header="500px"
                hover
                :fields="fields"
                :items="listData"
              >
                <template #cell(jumlah)="data">
                  <router-link
                    :to="{
                      path: '/detail-hsi',
                      query: {
                        reg: data.item.regional,
                        tanggal: moment().format('MM-DD-YYYY'),
                        witel: data.item.Witel,
                      },
                    }"
                    >{{ data.item.jumlah }}</router-link
                  >
                </template>
                <template #cell(h1)="data">
                  <router-link
                    :to="{
                      path: '/detail-hsi',
                      query: {
                        reg: data.item.regional,
                        tanggal: moment()
                          .subtract(1, 'days')
                          .format('MM-DD-YYYY'),
                        witel: data.item.Witel,
                      },
                    }"
                    >{{ data.item.h1 }}</router-link
                  >
                </template>
                <template #cell(h7)="data">
                  <router-link
                    :to="{
                      path: '/detail-hsi',
                      query: {
                        reg: data.item.regional,
                        tanggal: moment()
                          .subtract(7, 'days')
                          .format('MM-DD-YYYY'),
                        witel: data.item.Witel,
                      },
                    }"
                    >{{ data.item.h7 }}</router-link
                  >
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';
import axios from 'axios';
const BASE_URL = process.env.VUE_APP_BASEURL;
import { authHeader } from '../../../helpers/fakebackend/auth-header';
import moment from 'moment';
/**
 * Dashboard component
 */
export default {
  components: {
    Layout,
    PageHeader,
  },
  data() {
    return {
      title: 'HSI Lambat',
      items: [
        {
          text: 'Home',
        },
        {
          text: 'Dashboard',
        },
        {
          text: 'HSI Witel Lambat',
          active: true,
        },
      ],
      listData: [],
      fields: [
        {
          key: 'Witel',
          sortable: true,
        },
        {
          key: 'jumlah',
          label: 'H',
          sortable: true,
        },
        {
          key: 'h1',
          label: 'H-1',
          sortable: true,
        },
        {
          key: 'h7',
          label: 'H-7',
          sortable: true,
        },
      ],
    };
  },
  methods: {
    moment: function () {
      return moment();
    },
    makeToast() {
      this.$bvToast.toast('Toast body content', {
        title: `Toast`,
        variant: 'danger',
        solid: true,
        toaster: 'b-toaster-top-center',
      });
    },
    fetchData() {
      axios
        .get(`${BASE_URL}/dashboard/hsi-witel`, {
          headers: {
            ...authHeader,
          },
        })
        .then((resp) => {
          this.listData = resp.data;
        })
        .catch((e) => {
          console.log('HSi Err : ', e);
        });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
