<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';
import AlertSummary from './component/AlertSummary';
import AlertBackbone from './component/AlertBackbone.vue';
import AlertGempa from './component/AlertGempa';
import AlertHighHsi from './component/AlertHighHsi.vue';
import AlertHsiLambat from './component/AlertHsiLambat';
import AlertMetroTrunk from './component/AlertMetroTrunk';
import AlertServiceNode from './component/AlertServiceNode.vue';
import AlertGponBlackout from './component/AlertGponBlackout';
import AlertCpuHsi from './component/AlertCpuHsi.vue';
import AlertBlackout from './component/AlertBlackout';
import AlertPintuAir from './component/AlertPintuAir.vue';
import AlertRadioTransport from './component/AlertRadioTransport.vue';
/**
 * Dashboard component
 */
export default {
  components: {
    Layout,
    PageHeader,
    AlertSummary,
    AlertBackbone,
    AlertGempa,
    AlertHighHsi,
    AlertHsiLambat,
    AlertMetroTrunk,
    AlertServiceNode,
    AlertGponBlackout,
    AlertCpuHsi,
    AlertBlackout,
    AlertPintuAir,
    AlertRadioTransport,
  },
  data() {
    return {
      title: 'Dashboard',
      items: [
        {
          text: 'Menu',
        },
        {
          text: 'Dashboard',
          active: true,
        },
      ],
      series: [
        {
          data: [2, 20],
        },
      ],
      chartOptions: {
        chart: {
          type: 'bar',
          toolbar: {
            show: false,
          },
        },
        legend: {
          show: false,
        },
        colors: ['#FF3C5D', '#3BA6FF'],
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
            distributed: true,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          categories: [2, 20],
          // position: 'top',
          labels: {
            show: false,
          },
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
        },
        yaxis: {
          opposite: true,
        },
        grid: {
          show: false,
        },
      },
    };
  },
  methods: {
    makeToast() {
      this.$bvToast.toast('Toast body content', {
        title: `Toast`,
        variant: 'danger',
        solid: true,
        toaster: 'b-toaster-top-center',
      });
    },
  },
  mounted() {
    // this.makeToast();
    // for (let i = 1; i <= 2; i++) {
    //   setTimeout(
    //     function () {
    //       this.makeToast();
    //     }.bind(this),
    //     7000 * i,
    //   );
    // }
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row mb-0">
      <alert-summary></alert-summary>

      <alert-blackout></alert-blackout>
    </div>
    <div class="row mb-4">
      <alert-backbone></alert-backbone>
      <alert-metro-trunk></alert-metro-trunk>
      <alert-service-node></alert-service-node>
    </div>
    <div class="row mb-4">
      <alert-gpon-blackout></alert-gpon-blackout>
      <alert-radio-transport></alert-radio-transport>
      <div class="col-xl-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title mb-4">Alert DWDM Transport</h4>
              </div>
              <!-- <div class="col text-right text-danger">(New Alert: 1)</div> -->
            </div>
            <div class="table-responsive mb-0">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr class="border-top border-bottom">
                    <th>#</th>
                    <th class="text-center">Down</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td class="text-left">HUAWEI</td>
                    <td>0</td>
                  </tr>
                  <tr class="text-center">
                    <td class="text-left">CORIANT</td>
                    <td>0</td>
                  </tr>
                  <tr class="text-center">
                    <td class="text-left">ZTE</td>
                    <td>0</td>
                  </tr>
                  <tr class="text-center">
                    <td class="text-left">ALU</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <alert-hsi-lambat />
      <alert-high-hsi />
      <alert-cpu-hsi></alert-cpu-hsi>
    </div>
    <div class="row mb-4">
      <alert-pintu-air />
      <div class="col-xl-4">
        <alert-gempa></alert-gempa>
      </div>
    </div>
  </Layout>
</template>
