<script>
import { layoutComputed } from '@/state/helpers';
import Vertical from './vertical';
import Horizontal from './horizontal';
import {
  authFackMethods,
  notifikasiMethods,
  excludeMethods,
  dismantleMethods,
} from '@/state/helpers';
export default {
  components: { Vertical, Horizontal },
  data() {
    return {};
  },
  computed: {
    ...layoutComputed,
  },
  mounted() {
    // Set the initial number of items

    this.getCurrentUser();
    this.getUserMenu();
    this.getAllNotifications();
    this.getAllDismantleTotal();
    this.getAllExcludeTotal();
  },
  methods: {
    ...authFackMethods,
    ...notifikasiMethods,
    ...excludeMethods,
    ...dismantleMethods,
  },
};
</script>

<template>
  <div>
    <vertical v-if="layoutType === 'vertical'" :layout="layoutType">
      <slot />
    </vertical>

    <Horizontal v-if="layoutType === 'horizontal'" :layout="layoutType">
      <slot />
    </Horizontal>
  </div>
</template>
