<script>
import Layout from '../../layouts/main';
import PageHeader from '@/components/page-header';
import appConfig from '@/app.config';
import VJstree from 'vue-jstree';
import { menuMethods, notificationMethods } from '@/state/helpers';
import { required } from 'vuelidate/lib/validators';

/**
 * Basic-table component
 */
export default {
  page: {
    title: 'Menu Management',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, PageHeader, VJstree },
  data() {
    return {
      title: 'Menu Management',
      items: [
        {
          text: 'Menu Management',
          href: '#',
        },
      ],
      form: {
        menu_name: '',
        url: '#',
        icon: '',
        posisi: 0,
        is_header: true,
        parent_id: 0,
      },
      submitted: false,
      formIsOpen: false,
      formModeIndex: 0,
      editingItem: {},
      editingNode: null,
    };
  },
  validations: {
    form: {
      menu_name: { required },
      url: { required },
      icon: { required },
      posisi: { required },
      is_header: { required },
      parent_id: { required },
    },
  },
  computed: {
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
    menu() {
      return this.$store ? this.$store.state.menu.menu : null;
    },
    // transformedMenu() {
    //   let menu = this.menu?.map((e) => ({
    //     id: e.id,
    //     text: e.menu_name,
    //     icon: e.icon,
    //     opened: true,
    //     children: e.children.map((val) => ({
    //       id: val.id,
    //       text: val.menu_name,
    //       icon: val.icon,
    //       value: e,
    //     })),
    //     value: e,
    //   }));
    //   return menu;
    // },
    options() {
      // let options = this.menu?.filter((e) => {
      //   return e.value.is_header !== false;
      // });

      let options = this.menu?.map((e) => ({
        text: e.text,
        value: e.id,
      }));
      return options;
    },
  },
  mounted() {
    this.getAllMenu();
  },
  methods: {
    ...notificationMethods,
    ...menuMethods,
    itemClick(val) {
      console.log(val);
    },
    assignMenu(node, item) {
      this.editingNode = node;
      this.editingItem = item;
      console.log(item);
    },

    removeMenu() {
      var index = this.editingNode.parentItem.indexOf(this.editingItem);

      this.deleteMenuById({
        index,
        node: this.editingNode,
        id: this.editingItem.id,
      });
      this.$nextTick(() => {
        this.$bvModal.hide('modal-delete-menu');
      });
    },
    openForm(index) {
      this.formModeIndex = index;
      this.formIsOpen = true;
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    formSubmit() {
      this.submitted = true;

      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        if (this.formModeIndex === 0 && this.form.parent_id === 0) {
          this.form.posisi = this.menu.length + 1;
        }
        this.addMenu(this.form).then(() => {
          this.formIsOpen = false;
          this.form = {
            menu_name: '',
            url: '#',
            icon: '',
            posisi: 0,
            is_header: true,
            parent_id: 0,
          };
        });
      }
    },
  },
};
</script>
<style>
.tree-anchor {
  width: 100%;
  position: relative;
}
</style>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <!-- <h4 class="card-title">Default buttons</h4> -->
            <b-alert
              :variant="notification.type"
              class="mt-3"
              v-if="notification.message"
              show
              dismissible
              >{{ notification.message }}</b-alert
            >
            <b-button variant="success mb-4" @click="openForm(0)">
              <i class="ri-add-line align-middle mr-2"></i> Tambah Menu
            </b-button>
            <v-jstree :data="menu" whole-row draggable>
              <template slot-scope="_">
                <i v-if="_.model.icon" :class="_.model.icon"></i>
                <i v-else class="fa fa-file"></i>
                {{ _.model.text }}
                <i
                  v-if="_.model.children"
                  @click="itemClick(_.model)"
                  class="ri-add-circle-fill ml-2"
                ></i>
                <i @click="itemClick(_.model)" class="ri-edit-2-fill ml-2"></i>
                <i
                  v-b-modal.modal-delete-menu
                  @click="assignMenu(_.vm, _.model)"
                  class="ri-delete-bin-fill ml-2"
                ></i>
              </template>
            </v-jstree>
            <!-- DELETE MODAL -->
            <b-modal
              id="modal-delete-menu"
              title="Apa kamu yakin ingin menghapus role ini?"
            >
              <p class="my-4">
                Role yang telah terhapus tidak akan bisa dikembalikan lagi
              </p>
              <template #modal-footer="{ cancel }">
                <b-button variant="secondary" @click="cancel()">
                  Batalkan
                </b-button>
                <b-button variant="danger" @click="removeMenu()">
                  Ya, hapus role ini!
                </b-button>
              </template>
            </b-modal>
            <!-- END OF DELETE MODAL -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 v-if="formIsOpen" class="card-title">Tambah Menu</h4>
            <div v-if="!formIsOpen" class="text-center my-5">
              <div class="font-weight-bold">
                Klik pada "<i class="ri-add-circle-fill"></i>" untuk menambah
                sub-menu
              </div>
              atau
              <div class="font-weight-bold">
                Klik pada "<i class="ri-edit-2-fill"></i>" pada daftar menu
                untuk menyunting menu
              </div>
            </div>
            <form
              ref="form"
              v-else
              class="needs-validation"
              @submit.prevent="formSubmit"
            >
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="validationCustom01">Menu Name</label>
                    <input
                      id="validationCustom01"
                      v-model="form.menu_name"
                      type="text"
                      class="form-control"
                      placeholder="Menu Name"
                      :class="{
                        'is-invalid': submitted && $v.form.menu_name.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.menu_name.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.menu_name.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 row pl-5">
                  <div class="col-6 form-check mb-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios1"
                      :value="true"
                      v-model="form.is_header"
                      checked
                      required
                    />
                    <label class="form-check-label" for="exampleRadios1"
                      >Menu Group</label
                    >
                  </div>
                  <div class="col-6 form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios2"
                      v-model="form.is_header"
                      :value="false"
                      required
                    />
                    <label class="form-check-label" for="exampleRadios2"
                      >Section Menu</label
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="urlValidation">URL</label>
                    <input
                      id="urlValidation"
                      v-model="form.url"
                      type="text"
                      class="form-control"
                      placeholder="URL"
                      :class="{
                        'is-invalid': submitted && $v.form.url.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.url.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.url.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="iconValidation">Icon</label>
                    <input
                      id="iconValidation"
                      v-model="form.icon"
                      type="text"
                      class="form-control"
                      placeholder="Icon"
                      :class="{
                        'is-invalid': submitted && $v.form.icon.$error,
                      }"
                    />
                    <div
                      v-if="submitted && $v.form.icon.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.icon.required"
                        >This value is required.</span
                      >
                    </div>
                    <small>Contoh: fa fa-home</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="font-weight-bolder">Preview</div>
                  <div class="mt-3">
                    <i
                      :class="`${form.icon} font-size-24`"
                      id="icon-box"
                      ref="iconBox"
                    ></i>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="validationCustom04">Parent Menu</label>
                    <select
                      id="validationCustom04"
                      v-model="form.parent_id"
                      class="form-control"
                      :class="{
                        'is-invalid': submitted && $v.form.parent_id.$error,
                      }"
                      required
                    >
                      <option selected value="0">Root</option>
                      <option
                        v-for="(option, index) in options"
                        :key="index"
                        :value="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                    <div
                      v-if="submitted && $v.form.parent_id.$error"
                      class="invalid-feedback"
                    >
                      <span v-if="!$v.form.parent_id.required"
                        >This value is required.</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
